﻿@model Forma1.Models.Team

@{
    ViewData["Title"] = "Törlés";
}

<h2>Csapat törlése</h2>

<h3>Biztos, hogy törölni akarod ezt a csapatot?</h3>
<div>
    <hr />
    <dl>
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.yearOfFoundation)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.yearOfFoundation)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.championshipsWon)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.championshipsWon)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.registrationFeePaid)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.registrationFeePaid)
        </dd>
    </dl>

    <form asp-action="Delete">
        <input type="hidden" asp-for="id" />
        <input type="submit" value="Törlés" class="btn btn-default" /> |
        <a asp-action="Index">Vissza a csapatok listájához</a>
    </form>
</div>
