﻿@model Forma1.Models.Team

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Team</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.founded)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.founded)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.championshipsWon)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.championshipsWon)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.registrationFeePaid)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.registrationFeePaid)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
