﻿@model Forma1.Models.Team

@{
    ViewData["Title"] = "Szerkesztés";
}

<h2>Csapat szerkesztése</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="id" />
            <div class="form-group">
                <label asp-for="name" class="control-label"></label>
                <input asp-for="name" class="form-control" />
                <span asp-validation-for="name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="founded" class="control-label"></label>
                <input asp-for="founded" class="form-control" />
                <span asp-validation-for="founded" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="championshipsWon" class="control-label"></label>
                <input asp-for="championshipsWon" class="form-control" />
                <span asp-validation-for="championshipsWon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="registrationFeePaid" /> @Html.DisplayNameFor(model => model.registrationFeePaid)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
