﻿@model IEnumerable<Forma1.Models.Team>

@{
    ViewData["Title"] = "Listázás";
}

<h2>Csapatok listája</h2>

<p>
    <a asp-action="Create">Új csapat regisztrálása</a>
</p>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.yearOfFoundation)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.championshipsWon)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.registrationFeePaid)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.yearOfFoundation)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.championshipsWon)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.registrationFeePaid)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.id">Szerkesztés</a> |
                        <a asp-action="Delete" asp-route-id="@item.id">Törlés</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
